[submodule "go-api"]
	path = go-api
	url = https://github.com/Sadat154/go-api-ucl.git
[submodule "go-risk-module-api"]
	path = go-risk-module-api
	url = https://github.com/Sadat154/go-risk-module-api.git
