.filters {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    padding: var(--spacing-md);
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.filters > * {
    min-width: 250px;
}

.tableContainer {
    overflow-x: auto;
    padding: var(--spacing-md);
}
