/* stylelint-disable csstools/value-no-unknown-custom-properties */
.filters {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: var(--spacing-md);
    padding-bottom: 40px;
    gap: 2rem;
}

.filters>* {
    min-width: 250px;
}

.tableContainer {
    padding: var(--spacing-md);
    overflow-x: auto;
}
