.point-input-map {
    background-color: var(--go-ui-color-background);
    height: 32rem;
}

.diff-container {
    .input-section {
        /* NOTE: normal override not possible without force */
        background-color: var(--go-ui-color-semantic-yellow) !important;
    }
}

.toggle-view-changes {
    align-self: end;
}
